

body{
  background-color:olive;
  background-color: transparent;

  background:url(images/lion-01.jpg)no-repeat top center;
  background-size: cover;
}


#section_01
h1 {
  shadow:black;
  display: flex;
  justify-content: center;
}

h2 {
  text-shadow:black;
  writing-mode:vertical-lr;
  display: flex;
  justify-content: center;
  margin-right: 2em;
  }

p {
  display: flex;
  justify-content: left;
  padding: 96em;
  border-radius: 9px;
  height: 300px;
  width: 500px;

}
